/* Header css */

.header {
  overflow: hidden;
  background-image: linear-gradient(to right, black , grey);
  padding: 20px 10px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}
.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}
    /* Seachbar */
  .search-container {
  float: right;
}

  input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.search-container button:hover {
  background: #ccc;
}
.row.content {height: 100%}
.sidenav {
  background-color: #f1f1f1;
  height: 100%;
}
@media screen and (max-width: 767px) {
  .row.content {height: auto;} 
}
/* icon css */
.well i{
  font-size: 40px;
  color: #707087;
}
/* ... */

.well{
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  justify-content: space-between;
}
/* chart */
.tabcontent{
  border-right: groove 1px;
  border-bottom: groove 1px;
}
/* sidebar */
/* menu */
.dropbtn {
  color: white;
  width: auto;
  font-size: 20px;
  border: none;
  color: black;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 250px;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}


/* piechart */
.piechart{
  margin-left: 250px;
}
/* table */
.table{
  text-align: center;
}
.table thead tr th{
  text-align: center;
}
.table thead{
  background: #00BFFF;
}
.table button{
  border:none;
}
#customers {
  border-collapse: collapse;
  margin-left: 20px;
  width: 1120px;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #eaa28b;
  color: white;
}